!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title FooProject
    link(href='s40-theme/css/s40-theme.css', rel='stylesheet', 
      type='text/css')
    link(rel="stylesheet", href="s40-theme/css/single_portrait.css",
      type="text/css")
    script(language='javascript', type='text/javascript', 
      src='s40-theme/js/screensize.js')
    script(type='text/javascript')
      function refreshPageContent() {
        // Add code for refreshing the page here...
        console.log("Hey from refresh!");
        //console.log(navigator.userAgent);
        //console.log(window.innerWidth);
        var testCs = require("testCs")
        var testJs = require("testJs")
        console.log(testJs)
        testCs.callCs();
        testJs.callJs();

      }

    // added for brunch
    script(language='javascript', type='text/javascript', src='javascripts/app.js')
    script(language='javascript', type='text/javascript', src='javascripts/vendor.js')        
    script(language='javascript', type='text/javascript', src='javascripts/templates.js')        
  body
    .ui-page
      // header
      .ui-header
        .ui-title.inline
          h2 Title
        .refresh-icon.inline
          a(onclick='refreshPageContent();')
            img(alt='icon', src='s40-theme/images/refresh_40x40.png')
      .ui-content
        p Some test content
        .ui-button(onclick="refreshPageContent();") Press this

